<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}My Site{% endblock %}</title>
	</head>
	<body>
		<header>
			<nav>
				{% comment %} TODO: uncomment these {% endcomment %}
				<a href="{% url 'all_posts' %}">All Posts</a>
				<a href="{% url 'landing' %}">Home</a>
				{% comment %} <a href="{% url 'about' %}">About</a>  {% endcomment %}
			</nav>
		</header>
		<div class="content">{% block content %} {% endblock %}</div>
		<footer>
			<p>&copy; 2023 My Site</p>
		</footer>
	</body>
</html>
